@model App_AngelaStore.Models.Producto
@{
    ViewData["Title"] = "Informacion";
}
<br>
<br>
<p> </p>
<p> </p>
<div class="container">
    <div class="card" style="border: none;">
        <div class="row">
            <div class="col-md-4">
                
                    <a asp-area="" asp-controller="Home" asp-action="Info">
                    <img class="card-img-top" 
                    style="height: 500px; width: 100%; " src="@Model.imagen">
                    </a>
                
            </div>
            <div class="col-md-8">
                <p> </p>
                <h2 style="text-align: center;">Información</h2>
                <p> </p>
                <h4><li><strong>Modelo:</strong> @Model.Codigo </li></h4>
                <h4><li><strong>Marca:</strong> @Model.Marca</li></h4>
                <h4><li><strong>Descripción:</strong> @Model.Descripcion</li></h4>
                <h4><li><strong>Precio:</strong> S/.@Model.Precio</li></h4>
                <p> </p> 
                <p> </p>
                <p> </p>   
                <ul class="list-unstyled" style="text-align: center;">                   
                    <li><a asp-controller="Orden" asp-action="AddItem" asp-route-id="@Model.ID" class="btn btn-success"><i class="icofont-cart"></i> Agregar</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    
    <div class="container">
        <p> </p>
        <hr>
        <h3>Otras Prendas </h3>
        <hr>
        <div class="row">
            <div class="col-md-4" style="width: 100%;">
                <div class="card mb-4 shadow-sm">
                    <span class="border"><img class="card-img-top" 
                    style="height: 500px; width: 100%; display: block;" src="https://americanino.vteximg.com.br/arquivos/1280x1024_5.jpg?v=635823289795700000"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <span class="border"><img class="card-img-top" 
                    style="height: 500px; width: 100%; display: block;" src="https://americanino.vteximg.com.br/arquivos/1280x1024_6.jpg?v=635823289994200000"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <span class="border"><img class="card-img-top" 
                    style="height: 500px; width: 100%; display: block;" src="https://americanino.vteximg.com.br/arquivos/ids/1082050-1000-1232/70_681C003_A00915_0.jpg?v=637648956324930000"></span>
                </div>
            </div>
        </div>
    </div>
</div>