@model App_AngelaStore.Models.Producto
@{
    ViewData["Title"] = "Informacion";
}
<br>
<br>
<p> </p>
<p> </p>
<div class="container">
    <div class="card" style="border: none;">
        <div class="row">
            <div class="col-md-4">
                
                    <a asp-area="" asp-controller="Home" asp-action="Info">
                    <img class="card-img-top" 
                    style="height: 500px; width: 100%; " src="@Model.imagen">
                    </a>
                
            </div>
            <div class="col-md-8">
                <p> </p>
                <h2 style="text-align: center;"> <strong style="font-family: Georgia, Times, Times New Roman, serif;color:#000000;">Información</strong></h2>
                <p> </p>
                <h5><li style="color:#000000;font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Modelo:</strong> @Model.Codigo </li></h5>
                <h5><li style="color:#000000;font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Marca:</strong> @Model.Marca</li></h5>
                <h5><li style="color:#000000;font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Descripción:</strong> @Model.Descripcion</li></h5>
                <h5><li style="color:#000000;font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;"><strong style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;">Precio:</strong> S/.@Model.Precio.00</li></h5>
                <p> </p> 
                <p> </p>
                <p> </p>   
                <ul class="list-unstyled" style="text-align: center;">                   
                    <li><a asp-controller="Orden" asp-action="AddItem" asp-route-id="@Model.ID" class="btn btn-success" style="font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;"><i class="icofont-cart"></i> Agregar <img src="~/img/carro.png"class="carrito" width="26"></a></li>
                </ul>
            </div>
            
        </div>
    </div>
    
    <div class="container">
        <p> </p>
        <hr>
        <h3 style="text-align: center;">Otras Prendas </h3>
        <hr>
        <div class="row">
            <div class="col-md-4" style="width: 100%;">
                <div class="card mb-4 shadow-sm">
                    <span class="border"><img class="card-img-top" 
                    style="height: 500px; width: 100%; display: block;" src="https://americanino.vteximg.com.br/arquivos/1280x1024_5.jpg?v=635823289795700000"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <span class="border"><img class="card-img-top" 
                    style="height: 500px; width: 100%; display: block;" src="https://americanino.vteximg.com.br/arquivos/1280x1024_6.jpg?v=635823289994200000"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <span class="border"><img class="card-img-top" 
                    style="height: 500px; width: 100%; display: block;" src="https://americanino.vteximg.com.br/arquivos/ids/1082050-1000-1232/70_681C003_A00915_0.jpg?v=637648956324930000"></span>
                </div>
            </div>
        </div>
    </div>
</div>