@model IEnumerable<App_AngelaStore.Models.Producto>
@{
    ViewData["Title"] = "Productos";
}

<br>
<br>
<p> </p>
<p> </p>
<div class="section-title" style="text-align: center;">
          <h1><strong style="font-family: Georgia, Times, Times New Roman, serif;color:#000000">Prendas Registradas</strong></h1>
          <h6 style="font-family: Georgia, Times, Times New Roman, serif;color:#000000">Visualiza todos las Prendas registrados de nuestro almacen</h6>
          <p>
              <p></p>
    <button class="btn btn-dark"  onclick="window.location='@Url.Action("Index", "Producto")'">Registrar</button>
</p>
</div>
<p> </p>
<table class="table table-hover" style="text-align: center;">
    <tbody>
        <thead class="tables" style="background: black;" >
        <tr class="center"  style="color: white;" >
                <th scope="col">
                    Imagen de la prenda
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th scope="col">
                    Precio
                </th>
                <th scope="col">
                    Opciones
                </th>
                
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr class="center" style="text-align: center;" >
            <td style="text-align: center;">
               <img class="card img;border border-dark" width="170" height="200" style="margin-left: 20%;"
               src="@item.imagen" class="card-img-top;"  alt="...">
               
            </td>
            <td  style="color:#000000;font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif">
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td  style="color:#000000;font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif">
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td  style="color:#000000;font-family:Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif">
                S/.
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <th scope="row">
                <a  class="btn btn-info" asp-action="Edit" asp-route-id="@item.ID">Editar</a>
                <a  class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID" id="delete">Eliminar</a>
            </th>
            

        </tr>
    }        
    </tbody>    
</table>
</div>


@if ((String)TempData["prueba"] == "prueba01")
{
    <input value="hola" id="hola01" type="hidden">
}

@if ((String)TempData["prueba02"] == "prueba02") 
{
    <input value="hola" id="prueba02" type="hidden">
}

    <script>
        
        var x = document.getElementById('hola01').value;

        if(x == "hola") {
        
            Swal.fire(
                'Registro exitoso',
                'El Prenda ha sido registrado exitosamente',
                'success'
            )
  
        }

       

    </script>

   <script>
        
        var y = document.getElementById('prueba02').value;

        if(y == "hola") {

            Swal.fire(
                'Editado correctamente',
                'El Prenda se ha editado correctamente',
                'success'
            )
        }
   </script> 